/* ===== Font Face ===== */
@font-face {
  font-family: 'Sour Gummy';
  src: url('./assets/fronts/SourGummy-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Itim';
  src: url('./assets/fronts/Itim-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fronts/Anuphan-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* ===== CSS Variables (Theme) ===== */
:root {
  /* Colors */
  --color-bg: #E9E3DF;
  --color-text: #222;
  --color-text-secondary: #FF7A30;
  
  --dark-button: #444;
  --dark-button-text: #E9E3DF;

  --orange-button: #FF7A30;
  --orange-button-text: #E9E3DF;

  /* Typography */
  --font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --font-eng-fun: 'Sour Gummy', sans-serif;
  --font-thai-fun: 'Itim', sans-serif;
  --font-thai-polite: 'Anuphan', sans-serif;
  --font-size-base: 16px;
  --line-height: 24px;
}

/* ===== Dark Mode ===== */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #222222;
    --color-text: #E9E3DF;
    --color-text-secondary: #FA8112;
  }
}

/* ===== Base Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}