.splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
}

.splash.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.splash-text {
  font-family: var(--font-thai-fun);
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-text);
}

.ex {
  color: var(--color-text-secondary)
}

.logo {
  width: 200px;
  height: 200px;
}

.splash-title {
  font-family: var(--font-eng-fun);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-text);
}